dependencies </n>
Env :: Forecastinit
Python=3.11.5

Libraries

In [2]:
import pandas as pd
import numpy as np

Input

In [61]:
Historical_data_org = pd.read_csv('Input/Actual.csv')
TimeKey_org = pd.read_csv('Input/Time.csv')
Forecast_level = ['Version.[Version Name]', 'Channel.[Channel]', 'Account.[Account]',
       'PnL.[PnL]', 'Demand Domain.[Demand Domain]', 'Region.[Region]',
       'Location.[Location]', 'Time.[Planning Month]', 'Item.[Item]']
Time_column = ['Time.[Planning Month]']
Historical_data_column = ['Actual']
#Date should be in format of time key column, which is available in TimeKey file 
Time_key_column_name = "Time.[PlanningMonthKey]"
Time_key_date_format = "%m/%d/%Y %I:%M:%S %p"
Historic_start_date = "M09-20" 
Historic_end_date = 
# Forecast_start_date =
# Forecast_end_date =

Processing Input

In [62]:
Forecast_level_minus_time = Forecast_level.copy()
Forecast_level_minus_time.remove(Time_column[0])
Forecast_level_minus_time

['Version.[Version Name]',
 'Channel.[Channel]',
 'Account.[Account]',
 'PnL.[PnL]',
 'Demand Domain.[Demand Domain]',
 'Region.[Region]',
 'Location.[Location]',
 'Item.[Item]']

Copy Input

In [63]:
TimeKey

    Time.[PlanningMonthKey] Time.[Planning Month]
0      1/6/2019 12:00:00 AM                M01-19
1      2/3/2019 12:00:00 AM                M02-19
2      3/3/2019 12:00:00 AM                M03-19
3      4/7/2019 12:00:00 AM                M04-19
4      5/5/2019 12:00:00 AM                M05-19
..                      ...                   ...
103    8/1/2027 12:00:00 AM                M08-27
104   8/29/2027 12:00:00 AM                M09-27
105   10/3/2027 12:00:00 AM                M10-27
106  10/31/2027 12:00:00 AM                M11-27
107  11/28/2027 12:00:00 AM                M12-27

[108 rows x 2 columns]

In [64]:
Historical_data = Historical_data_org.copy(deep=True)
TimeKey = TimeKey_org.copy(deep=True)
TimeKey['TimeKey'] = pd.to_datetime(TimeKey[Time_key_column_name], format=Time_key_date_format)
TimeKey

    Time.[PlanningMonthKey] Time.[Planning Month]    TimeKey
0      1/6/2019 12:00:00 AM                M01-19 2019-01-06
1      2/3/2019 12:00:00 AM                M02-19 2019-02-03
2      3/3/2019 12:00:00 AM                M03-19 2019-03-03
3      4/7/2019 12:00:00 AM                M04-19 2019-04-07
4      5/5/2019 12:00:00 AM                M05-19 2019-05-05
..                      ...                   ...        ...
103    8/1/2027 12:00:00 AM                M08-27 2027-08-01
104   8/29/2027 12:00:00 AM                M09-27 2027-08-29
105   10/3/2027 12:00:00 AM                M10-27 2027-10-03
106  10/31/2027 12:00:00 AM                M11-27 2027-10-31
107  11/28/2027 12:00:00 AM                M12-27 2027-11-28

[108 rows x 3 columns]

Processing Copy Input

In [45]:
Historical_data[Historical_data_column] = Historical_data[Historical_data_column].astype(float)

Creating Key in Historical Data

In [47]:
# creating keys 
Historical_data['key'] = Historical_data[Forecast_level_minus_time].astype(str).agg("__ MDJoinner__".join, axis=1)
# dropping columns, which is already present in keys 
Historical_data.drop(Forecast_level_minus_time,axis=1,inplace=True) 
Historical_data.head(2)

,Time.[Planning Month],Actual,key
0,M07-20,445.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...
1,M08-20,711.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...