dependencies </n>
Env :: Forecastinit
Python=3.11.5

Libraries

In [2]:
# General 
import pandas as pd
import numpy as np

# sklearn 
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# skforecast 
from skforecast.datasets import load_demo_dataset
from skforecast.ForecasterAutoreg import ForecasterAutoreg
from skforecast.model_selection import backtesting_forecaster
from skforecast.model_selection import grid_search_forecaster

# ML Models 
from xgboost import XGBRegressor

Input

In [3]:
Historical_data_org = pd.read_csv('Input/Actual.csv')
TimeKey_org = pd.read_csv('Input/Time.csv')
Forecast_level = ['Version.[Version Name]', 'Channel.[Channel]', 'Account.[Account]',
       'PnL.[PnL]', 'Demand Domain.[Demand Domain]', 'Region.[Region]',
       'Location.[Location]', 'Time.[Planning Month]', 'Item.[Item]']
Time_column = ['Time.[Planning Month]']
Historical_data_column = ['Actual']
#Date should be in format of time key column, which is available in TimeKey file 
Time_key_column_name = "Time.[PlanningMonthKey]"
Time_key_date_format = "%m/%d/%Y %I:%M:%S %p"
Historic_start_date = "M09-20" 
Historic_end_date = "M12-22"
Forecast_start_date = "M01-23"
Forecast_end_date = "M03-23"
drivers = ['driver_Month']
models = ["Random Forest", "XG Boost"]
Hypertunning = False

In [4]:
# lags used in grid search hyper tunning 
lags_grid = [2,3,6,[1,2,3],[1,2,3,6],[3,6],[1,2,3,6]]
# lags_grid = [2,6]

# parameters used in grid search hyper tunning 
param_grid = {
    'n_estimators': [50, 100, 200, 500, 1000, 1500],
    'max_depth': [2, 5, 8, 10, 12, 15]
}

Custom Functions

In [86]:
# Data filter based on start and end date, then split in X and y based on provided columns 
# split(historical data frame contains drivers and actual, start date , end date, X columns in list, y column in string )
def split(data,Historic_start_date_key,Historic_end_date_key,Forecast_start_date_key,Forecast_end_date_key,X_cols,y_col):
    data = data[(data['TimeKey']>=Historic_start_date_key)&(data['TimeKey']<=Forecast_end_date_key)]
    data.sort_values('TimeKey',inplace=True)
    data.reset_index(drop=True,inplace=True)
    
    # creating date range this will be only for index related purpose , will not used in forecasting 
    index = pd.Series(pd.date_range(start=Historic_start_date_key,periods=len(data)))
    data['index'] = index
    data.set_index('index',inplace=True)
    data = data.asfreq('D')

    #  train/test 
    train =  data[(data['TimeKey']>=Historic_start_date_key)&(data['TimeKey']<=Historic_end_date_key)]
    test =  data[(data['TimeKey']>Historic_end_date_key)&(data['TimeKey']<=Forecast_end_date_key)]
    
    
    X_train = train[['key','TimeKey']+X_cols]
    y_train = train[['TimeKey']+[y_col]]

    X_test = test[['key','TimeKey']+X_cols]
    y_test = test[['TimeKey']+[y_col]]
    return X_train,y_train,X_test,y_test

In [6]:
# fit the model 
# if Hypertunning is turned on fit will be in grid search else normal fit with default values will return 
def skforecastfit(forecaster,y_train_loc,param_grid,lags_grid):
    results = grid_search_forecaster(
              forecaster         = forecaster,
              y                  = y_train_loc,
              param_grid         = param_grid,
              lags_grid          = lags_grid,
              steps              = 12,
              refit              = False,
              metric             = 'mean_squared_error',
              initial_train_size = len(y_train)-1,
              fixed_train_size   = False,
              return_best        = True,
              n_jobs             = 'auto',
              verbose            = False,
              show_progress      = True
          )

In [128]:
# SK Forecast ML Models
# skforecastpredict(models in list, X train data frame, y train data frame, X test data frame ) 
def skforecastpredict(models,Historical_data_column, X_train, y_train, X_test, drivers_local, Hypertunning,param_grid,lags_grid):
    # Predicted output data frame 
    Output = pd.DataFrame()
    # converting data frame to series, as sk forecast y accept series 
    y_train_loc = y_train[Historical_data_column[0]]
    
    # from sklearn.preprocessing import FunctionTransformer
    # transformer_y = FunctionTransformer(func=np.log1p, inverse_func=np.expm1)

    # Random Forest ========================================================================================================================= 
    if "Random Forest" in models:
        randomforestforecaster = ForecasterAutoreg(
                 regressor = RandomForestRegressor(random_state=123),
                 lags      = [2]
             )
        if Hypertunning is True:
            skforecastfit(randomforestforecaster,y_train_loc,param_grid,lags_grid)
        else:
            randomforestforecaster.fit(y= y_train_loc, exog=X_train[drivers_local])
        y_hat_randomforest = randomforestforecaster.predict_interval(steps=3,exog=X_test[drivers_local]).reset_index(drop=True)
        y_hat_randomforest.columns = ['Random Forest Y_hat', 'Random Forest Lower Bound', 'Random Forest Upper Bound']
        Output = pd.concat([Output, y_hat_randomforest], axis=1)
    # xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    
    #XG Boost ================================================================================================================================
    if "XG Boost" in models:
        xgboostForecaster = ForecasterAutoreg(
                regressor= XGBRegressor(random_state = 213),
                lags= [1,2]
            )      
        if Hypertunning is True:
            skforecastfit(xgboostForecaster,y_train_loc,param_grid,lags_grid)
        else:
            xgboostForecaster.fit(y=y_train_loc)
        y_hat_xgboost = xgboostForecaster.predict_interval(steps=3).reset_index(drop=True)
        y_hat_xgboost.columns = ['XG Boost Y_hat', 'XG Boost Lower Bound', 'XG Boost Upper Bound']
        Output = pd.concat([Output, y_hat_xgboost], axis=1)
    # xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        
    return Output

Processing Input

In [8]:
Forecast_level_minus_time = Forecast_level.copy()
Forecast_level_minus_time.remove(Time_column[0])
Forecast_level_minus_time

['Version.[Version Name]',
 'Channel.[Channel]',
 'Account.[Account]',
 'PnL.[PnL]',
 'Demand Domain.[Demand Domain]',
 'Region.[Region]',
 'Location.[Location]',
 'Item.[Item]']

Copy Input

In [9]:
Historical_data = Historical_data_org.copy(deep=True)
TimeKey = TimeKey_org.copy(deep=True)
TimeKey['TimeKey'] = pd.to_datetime(TimeKey[Time_key_column_name], format=Time_key_date_format)

In [10]:
# calculating Historic_end_date_key
Historic_start_date_key = pd.to_datetime(TimeKey[TimeKey[Time_column[0]]==Historic_start_date]['TimeKey'].values[0])
Historic_end_date_key = pd.to_datetime(TimeKey[TimeKey[Time_column[0]]==Historic_end_date]['TimeKey'].values[0])
Forecast_start_date_key = pd.to_datetime(TimeKey[TimeKey[Time_column[0]]==Forecast_start_date]['TimeKey'].values[0])
Forecast_end_date_key = pd.to_datetime(TimeKey[TimeKey[Time_column[0]]==Forecast_end_date]['TimeKey'].values[0])

Processing Copy Input

In [11]:
Historical_data[Historical_data_column] = Historical_data[Historical_data_column].astype(float)

Creating Key in Historical Data

In [12]:
# creating keys 
Historical_data['key'] = Historical_data[Forecast_level_minus_time].astype(str).agg("__ MDJoinner__".join, axis=1)
# dropping columns, which is already present in keys 
Historical_data.drop(Forecast_level_minus_time,axis=1,inplace=True) 
Historical_data.head(2)

,Time.[Planning Month],Actual,key
0,M07-20,445.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...
1,M08-20,711.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...

Custom Filter

In [13]:
Historical_data = Historical_data[Historical_data['key']=='CurrentWorkingView__ MDJoinner__B2B__ MDJoinner__AMO__ MDJoinner__DP__ MDJoinner__DP__ MDJoinner__ShipTo1__ MDJoinner__DP__ MDJoinner__Loctite 248 19g Stick']
# Historical_data['key'].values

Merging Time Key in Historical Data

In [14]:
Historical_data = pd.merge(Historical_data,TimeKey[Time_column+["TimeKey"]],on=Time_column,how='left')
Historical_data.head(2)

,Time.[Planning Month],Actual,key,TimeKey
0,M07-20,445.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2020-07-05
1,M08-20,711.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2020-08-02

Adding features

In [15]:
# Creating drivers 
Historical_data['driver_Month'] = Historical_data['TimeKey'].dt.month
Historical_data.head()

,Time.[Planning Month],Actual,key,TimeKey,driver_Month
0,M07-20,445.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2020-07-05,7
1,M08-20,711.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2020-08-02,8
2,M09-20,462.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2020-08-30,8
3,M10-20,174.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2020-10-04,10
4,M11-20,179.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2020-11-01,11

Train and Test Data

In [108]:
X_train,y_train,X_test,y_test = split(Historical_data, Historic_start_date_key,Historic_end_date_key,Forecast_start_date_key,Forecast_end_date_key,drivers,Historical_data_column[0])

/tmp/ipykernel_8147/4280792445.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.sort_values('TimeKey',inplace=True)
/tmp/ipykernel_8147/4280792445.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['index'] = index

Prediction

In [129]:
Hypertunning=False
models = ["Random Forest", "~XG Boost"]
rf = skforecastpredict(models, Historical_data_column, X_train, y_train, X_test, drivers, Hypertunning, param_grid, lags_grid)

In [130]:
rf

   Random Forest Y_hat  Random Forest Lower Bound  Random Forest Upper Bound
0               242.18                  171.91925                   416.8000
1               275.09                  206.50500                   449.7100
2               261.68                  120.64050                   566.3995

In [109]:
# Grid search hyperparameters and lags
# ==============================================================================
forecaster = ForecasterAutoreg(
                 regressor = RandomForestRegressor(random_state=123),
                 lags      = 2 # Placeholder, the value will be overwritten
             )

# Lags used as predictors
lags_grid = [2,3,6,[1,2,3],[1,2,3,6],[3,6],[1,2,3,6]]

lags_grid = [2,3]
# Regressor hyperparameters
param_grid = {
    'n_estimators': [50, 100, 200, 500, 1000, 1500],
    'max_depth': [2, 5, 8, 10, 12, 15]
}

forecaster.fit(y=y_train[Historical_data_column[0]],exog=X_train[drivers])
forecaster.predict_interval(steps=3,exog=X_test[drivers])
# lags_grid = [2, 10, [1, 2, 3, 20]]

# Regressor hyperparameters
# param_grid = {
#     'n_estimators': [50, 100],
#     'max_depth': [5, 10, 15]
# }

              pred  lower_bound  upper_bound
2020-09-27  245.67     173.0600      374.140
2020-09-28  236.78     150.8115      390.203
2020-09-29  235.31     152.7535      463.226

In [90]:
X_test

,key,TimeKey,driver_Month
index,,,
2020-09-27,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2023-01-01,1
2020-09-28,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2023-01-29,1
2020-09-29,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2023-02-26,2

In [88]:
forecaster
X_train[drivers]
X_test[drivers]
y_train[Historical_data_column[0]]

index
2020-08-30    462.0
2020-08-31    174.0
2020-09-01    179.0
2020-09-02    231.0
2020-09-03    126.0
2020-09-04    212.0
2020-09-05    231.0
2020-09-06    135.0
2020-09-07    182.0
2020-09-08    288.0
2020-09-09    431.0
2020-09-10    693.0
2020-09-11    473.0
2020-09-12    148.0
2020-09-13    188.0
2020-09-14    241.0
2020-09-15    228.0
2020-09-16    246.0
2020-09-17    209.0
2020-09-18    167.0
2020-09-19    175.0
2020-09-20    232.0
2020-09-21    540.0
2020-09-22    732.0
2020-09-23    627.0
2020-09-24    133.0
2020-09-25    153.0
2020-09-26    194.0
Freq: D, Name: Actual, dtype: float64

In [256]:
X_test

                                                          key  driver_Month
TimeKey
2023-01-01  CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...             1
2023-01-29  CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...             1
2023-02-26  CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...             2

In [249]:
y_test

            Actual
TimeKey
2023-01-01   209.0
2023-01-29   223.0
2023-02-26   333.0

In [245]:
X_train

                                                          key  driver_Month
TimeKey
2020-08-30  CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...             8
2020-10-04  CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...            10
2020-11-01  CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...            11
2020-11-29  CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...            11
2021-01-03  CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...             1
2021-01-31  CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...             1
2021-02-28  CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...             2
2021-04-04  CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...             4
2021-05-02  CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...             5
2021-05-30  CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...             5
2021-07-04  CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...             7
2021-08-01  CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...             8
2021-08-29  CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...             8
2021-10-03  CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...            10
2021-10-31  CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...            10
2021-11-28  CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...            11
2022-01-02  CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...             1
2022-01-30  CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...             1
2022-02-27  CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...             2
2022-04-03  CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...             4
2022-05-01  CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...             5
2022-05-29  CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...             5
2022-07-03  CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...             7
2022-07-31  CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...             7
2022-08-28  CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...             8
2022-10-02  CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...            10
2022-10-30  CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...            10
2022-11-27  CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...            11

In [248]:
y_train

            Actual
TimeKey
2020-08-30   462.0
2020-10-04   174.0
2020-11-01   179.0
2020-11-29   231.0
2021-01-03   126.0
2021-01-31   212.0
2021-02-28   231.0
2021-04-04   135.0
2021-05-02   182.0
2021-05-30   288.0
2021-07-04   431.0
2021-08-01   693.0
2021-08-29   473.0
2021-10-03   148.0
2021-10-31   188.0
2021-11-28   241.0
2022-01-02   228.0
2022-01-30   246.0
2022-02-27   209.0
2022-04-03   167.0
2022-05-01   175.0
2022-05-29   232.0
2022-07-03   540.0
2022-07-31   732.0
2022-08-28   627.0
2022-10-02   133.0
2022-10-30   153.0
2022-11-27   194.0

In [131]:
rf
yhat = rf.rename(columns={'Random Forest Y_hat':'pred','XG Boost Y_hat':'pred'})

yhat

     pred  Random Forest Lower Bound  Random Forest Upper Bound
0  242.18                  171.91925                   416.8000
1  275.09                  206.50500                   449.7100
2  261.68                  120.64050                   566.3995

In [144]:
yhat = forecaster.predict_interval(3)
yhat.reset_index(inplace=True,drop=True)
yhat

NotFittedError: This Forecaster instance is not fitted yet. Call `fit` with appropriate arguments before using predict.

In [132]:
y_test.reset_index(inplace=True,drop=True)
y_test

     TimeKey  Actual
0 2023-01-01   209.0
1 2023-01-29   223.0
2 2023-02-26   333.0

In [133]:
yhat = pd.merge(yhat[['pred']],y_test,left_index=True,right_index=True,how='outer')
yhat

     pred    TimeKey  Actual
0  242.18 2023-01-01   209.0
1  275.09 2023-01-29   223.0
2  261.68 2023-02-26   333.0

In [134]:
yhat['at'] = 'all'
yhat['diff'] = abs(yhat['pred'] - yhat['Actual'])
yhat = yhat.groupby(['at'],as_index=False)[['diff','Actual']].sum()
yhat

    at    diff  Actual
0  all  156.59   765.0

In [135]:
print("Accuracy",100-yhat['diff']/yhat['Actual']*100)

Accuracy 0    79.530719
dtype: float64

In [269]:
url = (
    'https://raw.githubusercontent.com/JoaquinAmatRodrigo/skforecast/master/'
    'data/h2o_exog.csv'
)
data = pd.read_csv(
            url, sep=',', header=0, names=['datetime', 'y', 'exog_1', 'exog_2']
       )

In [270]:
data

       datetime         y    exog_1    exog_2
0    1992-04-01  0.379808  0.958792  1.166029
1    1992-05-01  0.361801  0.951993  1.117859
2    1992-06-01  0.410534  0.952955  1.067942
3    1992-07-01  0.483389  0.958078  1.097376
4    1992-08-01  0.475463  0.956370  1.122199
..          ...       ...       ...       ...
190  2008-02-01  0.761822  1.515840  1.786373
191  2008-03-01  0.649435  1.506258  1.694264
192  2008-04-01  0.827887  1.505253  1.627135
193  2008-05-01  0.816255  1.491464  1.555068
194  2008-06-01  0.762137  1.459856  1.463507

[195 rows x 4 columns]

In [271]:
data['datetime'] = pd.to_datetime(data['datetime'], format='%Y-%m-%d')
data = data.set_index('datetime')
data = data.asfreq('MS')
data = data.sort_index()
data

                   y    exog_1    exog_2
datetime
1992-04-01  0.379808  0.958792  1.166029
1992-05-01  0.361801  0.951993  1.117859
1992-06-01  0.410534  0.952955  1.067942
1992-07-01  0.483389  0.958078  1.097376
1992-08-01  0.475463  0.956370  1.122199
...              ...       ...       ...
2008-02-01  0.761822  1.515840  1.786373
2008-03-01  0.649435  1.506258  1.694264
2008-04-01  0.827887  1.505253  1.627135
2008-05-01  0.816255  1.491464  1.555068
2008-06-01  0.762137  1.459856  1.463507

[195 rows x 3 columns]

In [272]:
steps = 36
data_train = data.iloc[:-steps, :]
data_test  = data.iloc[-steps:, :]

In [273]:
data_train

                   y    exog_1    exog_2
datetime
1992-04-01  0.379808  0.958792  1.166029
1992-05-01  0.361801  0.951993  1.117859
1992-06-01  0.410534  0.952955  1.067942
1992-07-01  0.483389  0.958078  1.097376
1992-08-01  0.475463  0.956370  1.122199
...              ...       ...       ...
2005-02-01  0.597639  1.520544  1.784523
2005-03-01  0.652590  1.506290  1.678839
2005-04-01  0.670505  1.487660  1.569732
2005-05-01  0.695248  1.457025  1.457334
2005-06-01  0.842263  1.441765  1.391649

[159 rows x 3 columns]

In [274]:
data_test

                   y    exog_1    exog_2
datetime
2005-07-01  0.874336  1.415756  1.446988
2005-08-01  1.006497  1.398304  1.517770
2005-09-01  1.094736  1.386174  1.602616
2005-10-01  1.027043  1.363155  1.668975
2005-11-01  1.149232  1.361009  1.730369
2005-12-01  1.160712  1.417316  1.787644
2006-01-01  1.230691  1.475126  1.832483
2006-02-01  0.587135  1.466789  1.730963
2006-03-01  0.706959  1.467960  1.666946
2006-04-01  0.639641  1.447698  1.565028
2006-05-01  0.807405  1.441005  1.494366
2006-06-01  0.797970  1.420152  1.407822
2006-07-01  0.884312  1.399110  1.467257
2006-08-01  1.049648  1.401371  1.535795
2006-09-01  0.995709  1.386018  1.607009
2006-10-01  1.168253  1.386772  1.679178
2006-11-01  1.108038  1.374507  1.741192
2006-12-01  1.120053  1.427799  1.788340
2007-01-01  1.223319  1.479435  1.823074
2007-02-01  0.597753  1.475246  1.743483
2007-03-01  0.704398  1.464945  1.650712
2007-04-01  0.561760  1.441324  1.541457
2007-05-01  0.745258  1.427419  1.466498
2007-06-01  0.837934  1.406248  1.389421
2007-07-01  0.954144  1.402091  1.460699
2007-08-01  1.078219  1.393088  1.535463
2007-09-01  1.110982  1.393382  1.645307
2007-10-01  1.109979  1.392375  1.718252
2007-11-01  1.163534  1.386396  1.783372
2007-12-01  1.176589  1.444280  1.827861
2008-01-01  1.219941  1.495834  1.856205
2008-02-01  0.761822  1.515840  1.786373
2008-03-01  0.649435  1.506258  1.694264
2008-04-01  0.827887  1.505253  1.627135
2008-05-01  0.816255  1.491464  1.555068
2008-06-01  0.762137  1.459856  1.463507

In [29]:
Historical_data

,Time.[Planning Month],Actual,key,TimeKey,driver_Month
0,M07-20,445.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2020-07-05,7
1,M08-20,711.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2020-08-02,8
2,M09-20,462.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2020-08-30,8
3,M10-20,174.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2020-10-04,10
4,M11-20,179.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2020-11-01,11
5,M12-20,231.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2020-11-29,11
6,M01-21,126.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2021-01-03,1
7,M02-21,212.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2021-01-31,1
8,M03-21,231.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2021-02-28,2
9,M04-21,135.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2021-04-04,4
10,M05-21,182.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2021-05-02,5
11,M06-21,288.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2021-05-30,5
12,M07-21,431.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2021-07-04,7
13,M08-21,693.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2021-08-01,8
14,M09-21,473.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2021-08-29,8
15,M10-21,148.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2021-10-03,10
16,M11-21,188.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2021-10-31,10
17,M12-21,241.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2021-11-28,11
18,M01-22,228.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2022-01-02,1
19,M02-22,246.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2022-01-30,1
20,M03-22,209.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2022-02-27,2
21,M04-22,167.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2022-04-03,4
22,M05-22,175.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2022-05-01,5
23,M06-22,232.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2022-05-29,5
24,M07-22,540.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2022-07-03,7
25,M08-22,732.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2022-07-31,7
26,M09-22,627.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2022-08-28,8
27,M10-22,133.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2022-10-02,10
28,M11-22,153.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2022-10-30,10
29,M12-22,194.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2022-11-27,11
30,M01-23,209.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2023-01-01,1
31,M02-23,223.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2023-01-29,1
32,M03-23,333.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2023-02-26,2
33,M04-23,148.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2023-04-02,4
34,M05-23,187.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2023-04-30,4
35,M06-23,381.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2023-05-28,5

In [39]:

Historical_data['dr'] = pd.Series(pd.date_range(start=Historic_start_date_key,periods=len(Historical_data)))
Historical_data

,Time.[Planning Month],Actual,key,TimeKey,driver_Month,dr
0,M07-20,445.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2020-07-05,7,2020-08-30
1,M08-20,711.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2020-08-02,8,2020-08-31
2,M09-20,462.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2020-08-30,8,2020-09-01
3,M10-20,174.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2020-10-04,10,2020-09-02
4,M11-20,179.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2020-11-01,11,2020-09-03
5,M12-20,231.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2020-11-29,11,2020-09-04
6,M01-21,126.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2021-01-03,1,2020-09-05
7,M02-21,212.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2021-01-31,1,2020-09-06
8,M03-21,231.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2021-02-28,2,2020-09-07
9,M04-21,135.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2021-04-04,4,2020-09-08
10,M05-21,182.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2021-05-02,5,2020-09-09
11,M06-21,288.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2021-05-30,5,2020-09-10
12,M07-21,431.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2021-07-04,7,2020-09-11
13,M08-21,693.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2021-08-01,8,2020-09-12
14,M09-21,473.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2021-08-29,8,2020-09-13
15,M10-21,148.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2021-10-03,10,2020-09-14
16,M11-21,188.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2021-10-31,10,2020-09-15
17,M12-21,241.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2021-11-28,11,2020-09-16
18,M01-22,228.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2022-01-02,1,2020-09-17
19,M02-22,246.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2022-01-30,1,2020-09-18
20,M03-22,209.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2022-02-27,2,2020-09-19
21,M04-22,167.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2022-04-03,4,2020-09-20
22,M05-22,175.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2022-05-01,5,2020-09-21
23,M06-22,232.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2022-05-29,5,2020-09-22
24,M07-22,540.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2022-07-03,7,2020-09-23
25,M08-22,732.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2022-07-31,7,2020-09-24
26,M09-22,627.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2022-08-28,8,2020-09-25
27,M10-22,133.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2022-10-02,10,2020-09-26
28,M11-22,153.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2022-10-30,10,2020-09-27
29,M12-22,194.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2022-11-27,11,2020-09-28
30,M01-23,209.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2023-01-01,1,2020-09-29
31,M02-23,223.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2023-01-29,1,2020-09-30
32,M03-23,333.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2023-02-26,2,2020-10-01
33,M04-23,148.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2023-04-02,4,2020-10-02
34,M05-23,187.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2023-04-30,4,2020-10-03
35,M06-23,381.0,CurrentWorkingView__ MDJoinner__B2B__ MDJoinne...,2023-05-28,5,2020-10-04